<div
  *ngIf="authService.isLoggedIn()"
  class="bg-light px-4 py-3 shadow-sm d-flex justify-content-between align-items-center"
>
  <button
    class="btn btn-link fs-4 text-decoration-none"
    appTextColor
    (click)="rederict()"
  >
    My Store
  </button>

  <div>
    <li class="nav-item" *ngIf="isAdmin()">
      <a class="nav-link" (click)="goToAdmin()">Admin Dashboard</a>
    </li>
  </div>

  <div class="d-flex gap-3">
    <app-primary-button
      [label]="cartLabel()"
      (btnClicked)="goToCart()"
    ></app-primary-button>
    <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
  </div>
</div>
